<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/exam_list.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
			if(document.documentElement.clientWidth >= 540) {
				document.documentElement.style.fontSize = 540 / 3.75 + 'px';
			}
		</script>
	</head>

	<body>
		<div class="exam">
			<div class="exam_list">
				<ul id="examList">
					<!--<li class="active" id="list_1">2017年3月高一第一次月考</li>-->
					<!--<li>2017年3月高一第一次月考</li>
					<li>2017年3月高一第一次月考</li>
					<li>2017年3月高一第一次月考</li>
					<li>2017年3月高一第一次月考</li>
					<li>2017年3月高一第一次月考</li>
					<li>2017年3月高一第一次月考</li>-->
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../js/vendor/mui.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/exam_list.js"></script>
	</body>
</html>