<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/subject.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 3.75 + 'px';
			if(document.documentElement.clientWidth >= 540) {
				document.documentElement.style.fontSize = 540 / 3.75 + 'px';
			}
		</script>
	</head>

	<body>
		<div class="subject">
			<div class="subject_box" id="subject_box">
				<div class="row">
					<div class="subject_1 itme"  data-subId="10" id="subject_1"></div>
					<div class="subject_2 itme" data-subId="11"></div>
					<div class="subject_3 itme" data-subId="12"></div>
				</div>
				<div class="row">
					<div class="subject_4 itme" data-subId="13"></div>
					<div class="subject_5 itme" data-subId="14"></div>
					<div class="subject_6 itme" data-subId="15"></div>
				</div>
				<div class="row">
					<div class="subject_7 itme" data-subId="16"></div>
					<div class="subject_8 itme" data-subId="17"></div>
					<div class="subject_9 itme" data-subId="18"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/vendor/mui.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/subject.js"></script>
	</body>
</html>